!.keep
.env
.idea
*.DS_Store
*.swo
*.swp
/.bundle
/config/database.yml
/coverage/*
/db/*.sqlite3
/db/*.sqlite3-journal
/db/backups
/log/*.log
/public/assets
/public/system
/public/uploads
/tmp
/uploads/*
