.row
  .col-sm-12
    %center
      -if current_user.in_trial_without_card?
        %h4
          At the completion of your trial on
          = current_user.trial_ends_at.to_date.to_s(:simple)
          you will be billed
          = plan_price(current_user.subscription.plan)

= render("form")
