---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=nancy%40test.example.com&email=nancy%40test.example.com
    headers:
      Authorization:
      - Bearer sk_test_VnDYa71zaDELvFZeHx8rKDJz
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2014-09-08'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1432827109,
          "id": "cus_6K7DouuJ1zIiDm",
          "livemode": false,
          "description": "nancy@test.example.com",
          "email": "nancy@test.example.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6K7DouuJ1zIiDm/subscriptions",
            "data": []
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6K7DouuJ1zIiDm/cards",
            "data": []
          },
          "default_card": null,
          "sources": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6K7DouuJ1zIiDm/sources",
            "data": []
          },
          "default_source": null
        }
  recorded_at: Thu, 28 May 2015 15:31:49 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_6K7DouuJ1zIiDm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_VnDYa71zaDELvFZeHx8rKDJz
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2014-09-08'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-09-08'
    body:
 [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_6K7DouuJ1zIiDm/subscriptions
    body:
      encoding: US-ASCII
      string: plan=standard&quantity=1
    headers:
      Authorization:
      - Bearer sk_test_VnDYa71zaDELvFZeHx8rKDJz
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2014-09-08'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_6K7DfsvP9HtCiU",
          "plan": {
            "interval": "month",
            "name": "Standard Plan",
            "created": 1432590318,
            "amount": 2900,
            "currency": "usd",
            "id": "standard",
            "object": "plan",
            "livemode": false,
            "interval_count": 1,
            "trial_period_days": 30,
            "metadata": {},
            "statement_descriptor": "Jumpstart - Standard",
            "statement_description": "Jumpstart - Standard"
          },
          "object": "subscription",
          "start": 1432827110,
          "status": "trialing",
          "customer": "cus_6K7DouuJ1zIiDm",
          "cancel_at_period_end": false,
          "current_period_start": 1432827110,
          "current_period_end": 1435419110,
          "ended_at": null,
          "trial_start": 1432827110,
          "trial_end": 1435419110,
          "canceled_at": null,
          "quantity": 1,
          "application_fee_percent": null,
          "discount": null,
          "tax_percent": null,
          "metadata": {}
        }
  recorded_at: Thu, 28 May 2015 15:31:50 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/upcoming?customer=cus_6K7DouuJ1zIiDm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_VnDYa71zaDELvFZeHx8rKDJz
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2014-09-08'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "date": 1435419110,
          "period_start": 1432827110,
          "period_end": 1435419110,
          "lines": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/invoices/upcoming/lines?customer=cus_6K7DouuJ1zIiDm",
            "data": [
              {
                "id": "sub_6K7DfsvP9HtCiU",
                "object": "line_item",
                "type": "subscription",
                "livemode": false,
                "amount": 2900,
                "currency": "usd",
                "proration": false,
                "period": {
                  "start": 1435419110,
                  "end": 1438011110
                },
                "subscription": null,
                "quantity": 1,
                "plan": {
                  "interval": "month",
                  "name": "Standard Plan",
                  "created": 1432590318,
                  "amount": 2900,
                  "currency": "usd",
                  "id": "standard",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": 30,
                  "metadata": {},
                  "statement_descriptor": "Jumpstart - Standard",
                  "statement_description": "Jumpstart - Standard"
                },
                "description": null,
                "discountable": true,
                "metadata": {}
              }
            ]
          },
          "subtotal": 2900,
          "total": 2900,
          "customer": "cus_6K7DouuJ1zIiDm",
          "object": "invoice",
          "attempted": false,
          "closed": false,
          "forgiven": false,
          "paid": false,
          "livemode": false,
          "attempt_count": 0,
          "amount_due": 2900,
          "currency": "usd",
          "starting_balance": 0,
          "ending_balance": null,
          "next_payment_attempt": 1435422710,
          "webhooks_delivered_at": null,
          "charge": null,
          "discount": null,
          "application_fee": null,
          "subscription": "sub_6K7DfsvP9HtCiU",
          "tax_percent": null,
          "tax": null,
          "metadata": {},
          "statement_descriptor": null,
          "description": null,
          "receipt_number": null,
          "statement_description": null
        }
  recorded_at: Thu, 28 May 2015 15:31:51 GMT
recorded_with: VCR 2.9.3
